@charset "UTF-8";
body{
    background-color: rgb(27, 224, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: brown;
    background-color: yellow;
}
h2{
    color: red;
}
p{
    text-align: justify;
}